pipreqs==0.4.11
allpairspy==2.5.0
Faker==6.6.1
jsonpath_rw==1.4.0
jsonpath_rw_ext==1.2.2
loguru==0.6.0
openpyxl==3.1.0
oss2==2.15.0
passlib==1.7.4
pycryptodome==3.17
pymongo==4.0.2
PyMySQL==0.10.1
python_dateutil==2.8.2
redis==3.5.3
requests==2.28.1
ruamel.base==1.0.0
tabulate==0.8.9
XlsxWriter==3.0.8
xpinyin==0.7.6
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
